<div class="super_container_inner">
    <div class="super_overlay"></div>

    <div class="container">
        <div class="alert alert-success" role="alert">
            <h3 class="alert-heading">Thank you for your order!</h3>
            <p>The order has been accepted, make the payment.</p>
            <hr>
            <p class="mb-0">You can go back to the main page <strong><a class="here" (click)=" goBackToHomePge()">here</a></strong>.</p>
        </div>
    </div>

    <app-footer></app-footer>
</div>