<div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <app-title-overlay [pageTitle]="pageTitle" [categoryTitle]="categoryTitle | uppercase"></app-title-overlay>


    <!-- Contact -->

    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="contact-types">
                        <li class="contact-type _contact "><span class="contact-header _header"><i
                                    class="fa fa-comment"></i><span
                                    class="contact-title"><strong>Chat</strong></span></span>
                            <div class="contact-info _content">
                                <div class="_chatContact-online">
                                    <ul class="contact-type-chat flex-container">
                                        <li class="schedule"><span>From Monday to Friday, from 08:30 to
                                                20:00</span><span>Saturday, from 10:00 to 16:00</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="contact-type _contact "><span class="contact-header _header"><i
                                    class="fa fa-phone"></i><span
                                    class="contact-title"><strong>Telephone</strong></span></span>
                            <div class="contact-info _content">
                                <ul class="contact-type-phone flex-container">
                                    <li class="phone full">800 702 469</li>
                                    <li class="schedule"><span>From Monday to Friday, from 08:30 to
                                            20:00</span><span>Saturday, from 10:00 to 16:00</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 contactinformation">
                     <div id="info-details">
                <h2>Contact Information</h2>

                <div class="info">
                    <p><span class="contacttitle">Address:</span> <span class="details"> 198 West 21th Street, Suite 721 New York NY 10016</span></p>
                </div>
                <div class="info">
                    <p><span class="contacttitle">Phone:</span><span class="details"> + 1 912-252-7350</span></p>
                </div>
                <div class="info">
                    <p><span class="contacttitle">Email:</span><span class="details"> info@littlecloset.com</span></p>
                </div>
                <div class="info">
                    <p><span class="contacttitle">Website:</span><span class="details"> littlecloset.com</span></p>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->

    <app-footer></app-footer>

</div>