<div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->
    <app-title-overlay [pageTitle]="pageTitle" [categoryTitle]="categoryTitle | uppercase"></app-title-overlay>

    <!-- Checkout -->

    <div class="checkout">
        <div class="container">
            <div class="row">

                <!-- Billing -->
                <div class="col-lg-6">
                    <div class="billing">
                        <div class="checkout_title">Billing</div>
                        <div class="checkout_form_container">
                            <form id="checkout_form" class="checkout_form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Name -->
                                        <input type="text" id="checkout_name" class="checkout_input form-control"
                                            placeholder="First Name" required="required" name="first"
                                            [(ngModel)]="order.adress.firstName" #checkout_nameControl="ngModel"
                                            [class.is-invalid]="checkout_nameControl.invalid  && checkout_nameControl.touched"
                                            [class.is-valid]="checkout_nameControl.valid">
                                        <span class="invalid-feedback"
                                            *ngIf="checkout_nameControl.invalid  && checkout_nameControl.touched">
                                            First Name is required
                                        </span>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Last Name -->
                                        <input type="text" id="checkout_last_name" class="checkout_input form-control"
                                            placeholder="Last Name" required="required" name="lastName"
                                            [(ngModel)]="order.adress.lastName" #lastNameControl="ngModel"
                                            [class.is-invalid]="lastNameControl.invalid  && lastNameControl.touched"
                                            [class.is-valid]="lastNameControl.valid">
                                        <span class="invalid-feedback"
                                            *ngIf="lastNameControl.invalid  && lastNameControl.touched">
                                            Last Name is required
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <!-- Company -->
                                    <input type="text" id="checkout_company" placeholder="Company"
                                        class="checkout_input form-control" name="company" [(ngModel)]="order.adress.company">
                                </div>
                                <div>
                                    <!-- Country -->
                                    <input type="text" id="checkout_country" class="checkout_input form-control"
                                        placeholder="Country" required="required" name="country"
                                        [(ngModel)]="order.adress.country" #countryControl="ngModel"
                                        [class.is-invalid]="countryControl.invalid  && countryControl.touched"
                                        [class.is-valid]="countryControl.valid">
                                    <span class="invalid-feedback"
                                        *ngIf="countryControl.invalid  && countryControl.touched">
                                        Country is required
                                    </span>
                                </div>
                                <div>
                                    <!-- Address -->
                                    <input type="text" id="checkout_address" class="checkout_input form-control"
                                        placeholder="Address Line 1" required="required" name="adress"
                                        [(ngModel)]="order.adress.adresss1" #adressControl="ngModel"
                                        [class.is-invalid]="adressControl.invalid  && adressControl.touched"
                                        [class.is-valid]="adressControl.valid">
                                    <span class="invalid-feedback"
                                        *ngIf="adressControl.invalid  && adressControl.touched">
                                        Adress is required
                                    </span>
                                    <input type="text" id="checkout_address_2" class="checkout_input checkout_address_2"
                                        placeholder="Address Line 2" [(ngModel)]="order.adress.adresss2" name="adress2">
                                </div>
                                <div>
                                    <!-- Zipcode -->
                                    <input type="text" id="checkout_zipcode" class="checkout_input form-control"
                                        placeholder="Zip Code" required="required" name="zipcode"
                                        [(ngModel)]="order.adress.zipCode" #zipCodeControl="ngModel"
                                        [class.is-invalid]="zipCodeControl.invalid  && zipCodeControl.touched"
                                        [class.is-valid]="zipCodeControl.valid">
                                    <span class="invalid-feedback"
                                        *ngIf="zipCodeControl.invalid  && zipCodeControl.touched">
                                        Zip Code is required
                                    </span>
                                </div>
                                <div>
                                    <!-- City / Town -->
                                    <input type="text" id="checkout_city" class="checkout_input form-control"
                                        placeholder="City / Town" required="required" name="city"
                                        [(ngModel)]="order.adress.city" #cityControl="ngModel"
                                        [class.is-invalid]="cityControl.invalid  && cityControl.touched"
                                        [class.is-valid]="cityControl.valid">
                                    <span class="invalid-feedback" *ngIf="cityControl.invalid  && cityControl.touched">
                                        City is required
                                    </span>
                                </div>
                                <div>
                                    <!-- Province -->
                                    <input type="text" id="checkout_province" class="checkout_input form-control"
                                        placeholder="Province" required="required" name="province"
                                        [(ngModel)]="order.adress.province" #provinceControl="ngModel"
                                        [class.is-invalid]="provinceControl.invalid  && provinceControl.touched"
                                        [class.is-valid]="provinceControl.valid">
                                    <span class="invalid-feedback"
                                        *ngIf="provinceControl.invalid  && provinceControl.touched">
                                        Province is required
                                    </span>
                                </div>
                                <div>
                                    <!-- Phone no -->
                                    <input type="tel" id="checkout_phone" class="checkout_input form-control"
                                        placeholder="Phone No." required="required" pattern="^[0-9]{9}$" name="phone"
                                        [(ngModel)]="order.adress.phone" #phoneControl="ngModel"
                                        [class.is-invalid]="phoneControl.invalid  && phoneControl.touched"
                                        [class.is-valid]="phoneControl.valid">
                                    <span class="invalid-feedback"
                                        *ngIf="phoneControl.invalid  && phoneControl.touched">
                                        Phone is required
                                    </span>
                                    <span class="invalid-feedback" *ngIf="phoneControl.errors?.pattern">
                                        Phone is invalid</span>
                                </div>
                                <div>
                                    <!-- Email -->
                                    <input type="email" id="checkout_email" class="checkout_input form-control" placeholder="Email"
                                        required="required" required [email]="order.adress.email!==''" name="email"
                                        [(ngModel)]="order.adress.email" #emailControl="ngModel"
                                        [class.is-invalid]="emailControl.invalid && emailControl.touched"
                                        [class.is-valid]="emailControl.valid">
                                    <span class="invalid-feedback"
                                        *ngIf="emailControl.errors?.required && emailControl.touched">Email is required</span>
                                    <span class="invalid-feedback" *ngIf="emailControl.errors?.email">Email is invalid </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Cart Total -->
                <div class="col-lg-6 cart_col">
                    <div class="cart_total">
                        <div class="cart_extra_content cart_extra_total">
                            <div class="checkout_title">Cart Total</div>
                            <ul class="cart_extra_total_list">
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_extra_total_title">Subtotal</div>
                                    <div class="cart_extra_total_value ml-auto">${{order.subtotal}}</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_extra_total_title">Shipping</div>
                                    <div class="cart_extra_total_value ml-auto">${{order.delivery.price}}</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_extra_total_title">Total</div>
                                    <div class="cart_extra_total_value ml-auto">${{order.total | number : '1.2-2'}}</div>
                                </li>
                            </ul>
                            <div class="payment_options">
                                <div class="checkout_title">Payment</div>
                                <ul>
                                    <li *ngFor="let item of paymentList"
                                        class="shipping_option d-flex flex-row align-items-center justify-content-start">
                                        <label class="radio_container">
                                            <input type="radio" id="radio_1" name="payment_radio" class="payment_radio"  [value]="item.id" [(ngModel)]="paymentId" (ngModelChange)="onSelectPayment(item.id)">
                                            <span class="radio_mark"></span>
                                            <span class="radio_text">{{item.name}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so
                                    dales.
                                    Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut
                                    consectetur lacus.</p>
                            </div>
                            <div class="checkout_button trans_200"><a (click)="saveOrder()" href="javascript:void(0)">place order</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <app-footer></app-footer>

</div>